<%= form_with(model: task, local: true) do |form| %>
    <% if task.errors.any? %>
      <div class="errors">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
        <ul>
          <% task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    
   
    
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  